services:
  - type: web
    name: hospital-backend
    env: node
    plan: free
    region: oregon
    rootDir: backend
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5000
      - key: MONGO_URI
      - key: JWT_SECRET
        generateValue: true

  - type: static
    name: hospital-frontend
    env: static
    plan: free
    region: oregon
    rootDir: frontend
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    routes:
      - type: rewrite
        source: /api/*
        destination: https://hospital-backend.onrender.com/api/*
      - type: rewrite
        source: /*
        destination: /index.html
